services:

  redis:
    image: redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  ws:
    build:
      context: .
      dockerfile: apps/ws/Dockerfile
    ports:
      - "8001:8000"
    env_file:
      - .env
    environment:
      - PORT=8000
    depends_on:
      - redis
    restart: always

  worker:
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        NEXT_PUBLIC_BASE_URL: ${NEXT_PUBLIC_BASE_URL}
        NEXT_PUBLIC_BETTER_AUTH_REDIRECT_URL: ${NEXT_PUBLIC_BETTER_AUTH_REDIRECT_URL}
        NEXT_PUBLIC_WEB_SOCKET_URL: ${NEXT_PUBLIC_WEB_SOCKET_URL}
    ports:
      - "3003:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
    depends_on:
      - redis
    restart: always

volumes:
  redis_data:
