services:

  redis:
    image: redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "4000:4000"
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydatabase
      - REDIS_URL=redis://redis:6379
      - PORT=4000
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    restart: always

  ws:
    build:
      context: .
      dockerfile: apps/ws/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydatabase
      - REDIS_URL=redis://redis:6379
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PORT=8000
      - BETTER_AUTH_URL=http://localhost:4000
      - AUTH_URL=http://backend:4000
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    restart: always

  worker:
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydatabase
      - REDIS_URL=redis://redis:6379
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    restart: always

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        NEXT_PUBLIC_BASE_URL: http://localhost:4000
        NEXT_PUBLIC_BETTER_AUTH_REDIRECT_URL: http://localhost:3000
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    restart: always

volumes:
  postgres_data:
  redis_data:
