services:
  backend:
    image: ghcr.io/heyavanindra/thecoffeeroom-backend:latest
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
    env_file:
      - .env
    restart: always

  ws:
    image: ghcr.io/heyavanindra/thecoffeeroom-ws:latest
    ports:
      - "8001:8000"
    env_file:
      - .env
    environment:
      - PORT=8000
    restart: always

  worker:
    image: ghcr.io/heyavanindra/thecoffeeroom-worker:latest
    env_file:
      - .env
    restart: always

  frontend:
    image: ghcr.io/heyavanindra/thecoffeeroom-frontend:latest
    ports:
      - "3003:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
    restart: always
